*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.special  img{
    transform: scale(0.8);
}



.top{
    width: 100%;
    height: 5px;
    background-color: #f06131;
}
.logo{
    font-family: 'Galada', cursive;
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
    user-select: none;
}
.logo:hover{
    cursor: pointer;
}
.easy{
    color: #f06131;
}
.grocery{
    color: #f9bd6d;
}
.header{
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;

}
header input{
    width: 85%;
    height: 2.9rem;
    border:1px grey solid;
    margin-top: 25px;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cart{
    margin-top: 25px;
    height: 3rem;
    position: relative;
}
.cart img{
    width: 40px;
    position: absolute;
    right: 40px;
    top:3px;
}
.shoppingCart:hover{
    cursor: pointer;
}
.cart span{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 100;
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    font-family: arial;
    right: 40px;
}
.cart span:hover{
    cursor: pointer;
}
.service{
    width: 100%;
    display: flex;
    height: 40px;
    margin-top: 25px;
}
.service div{
    text-align: center;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
    font-size: 15px;
    border-right: 1px lightgrey solid;
}
.category{
    width: 100%;
    height: auto;
    background-color: #45433f;
    margin-top: 10px;
    display: flex;
    
}
.category div{
    flex:1;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding:15px 10px;
    border-right:1px #524f49 solid;
    box-sizing: content-box;
    text-align: center;
}
.banner{
    width: 100%;
    height: 400px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position:center 75%;
}
.banner img{
    width: 100%;
    background-position: center;
}
.special{
    height: auto;
    width: 100%;
    margin-top:20px;
    padding:0 20px;

}
.special h2{
    font-family: 'Open Sans', sans-serif;
    margin-bottom:20px;
}
.item{
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
}
.item>div{
    padding:10px;
    height: auto;
    box-shadow:  0px 0px 10px rgba(9,9,9,0.2);
    font-family: roboto;
    font-weight: 100;
    position: relative;
}
.item img{
    display: block;
    width: 100%;
}
.item h4{
    color: grey;
}
.item h3{
    line-height: 70px;
}


footer{
    height: 80px;
    width: 100%;
    background-color: #333333;
    text-align: center;
    color: white;
    font-family: roboto;
    font-size: 14px;
    font-weight: 200;
    line-height: 80px;
    margin-top: 80px;
}
.bar{
    display: none;
}
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(22,22,22,0.8);
}
.cartPage{
    position: fixed;
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    background-color: #fff;
    border-radius: 3%;
    border:3px grey solid;
    overflow: hidden;
    z-index: 2020;
}
.cartPage h1{
    text-align: center;
    margin-top: 7vh;
}
.close{
    position: absolute;
    width: 30px;
    top: 15px;
    right: 20px;
}
.cartContent{
    width: 90%;
    height: 65%;
    margin:0 auto;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    
    margin-top: 10px;
}

.quant{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100px;
    margin: 0 auto;
}
.quant span{
    display: inline-block;
    border: 1px black solid;
}
.price{
    display: grid;
    grid-auto-columns: 1fr;
    width: 90%;
    margin: 5px auto;
}

.searchDiv{
    position: relative;
}
/* .searchDiv::after{
    content: url(./img/search.webp);
    width: 45px;
    height: 2.9rem;
    background-color: red;
    position: absolute;
    right: 10%;
    top: 25px;
    border-radius: 2px;
} */

.searchDiv input{
    float: left;
}
.searchDiv button{
    float: left;
    width: 45px;
    height: 2.9rem;
    margin-top: 25px;
    border: 1px grey solid;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.searchDiv button:hover{
    cursor: pointer;
}

.search img{
    width: 55%;
    height: 55%;
}
.item div button{
    position: absolute;
    bottom: 40px;
    right: 25px;
    height: 22px;
    line-height: 22px;
    width: 100px;
    font-size: 14px;
    background-color:#f06131;
    color: white;
    border:none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.supermarket{
    position: relative;
}
.supermarket span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:orange;
    
}
.supermarket:hover{
    cursor: pointer;
}
.supermarket ul{
    position: absolute;
    list-style: none;
    width: 80vw;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(22,22,22,0.2);
    top: 50px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    color: black;
    text-align: left;
    z-index: 100;
    
}
.supermarket ul li{
    box-sizing: border-box;
    padding-left: 10px;
    font-family: 'Gotu', sans-serif;
    
}
a{
    color: black;
    text-decoration: none;
}

.product_list{
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    padding: 10px 20px;
    margin-top: 30px;
    
}
.product_list>div{
    padding:10px;
    height: auto;
    box-shadow:  0px 0px 10px rgba(9,9,9,0.2);
    font-family: roboto;
    font-weight: 100;
    position: relative;
}
.product_list img{
    display: block;
    width: 100%;
}
.product_list h4{
    color: grey;
    margin-top: 15px;
}
.product_list h3{
    line-height: 70px;
}
.amount{
    position: absolute;
    right: 40px;
    bottom: 60px;
    width: 90px;
    height: 18px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    z-index: 88;
}
.amount div{
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* border: 1px solid grey; */
}
.amount .minus{
    background-color:grey;
    color: white;
    font-size: 26px;
    line-height: 17px;
    border:1px grey solid;
    box-sizing: border-box;
    height: 22px;
}
.amount .plus{
    background-color:grey;
    color: white;
    font-size: 18px;
    border:1px grey solid;
    box-sizing: border-box;
    height: 22px;
}
.amount .minus:hover, .amount .plus:hover{
    cursor: pointer;
}
.product_list>div, .item>div{
    padding: 10px 15px;
    padding-top: 20px;
}
.product_list>div h3, .item>div h3{
    margin-left: 15px;
    margin-top: 0px;
    font-size: 24px;
}

.product_list div button, .item div button{
    position: absolute;
    bottom: 18px;
    right: 35px;
    height: 28px;
    line-height: 24px;
    width: 100px;
    font-size: 14px;
    background-color:#f06131;
    color: white;
    border:none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.productTitle{
    font-family: 'Open Sans', sans-serif;
    margin-top:20px;
    margin-bottom:-10px;
    margin-left: 20px;
    
}
.products{
    display: none;
    padding: 0 2vw;
}


.cartField{
    /* width: 100%; */
    height: 40px;
    display:flex;
    
    line-height: 40px;
}
.cartField>div{
    flex: 1;
    text-align: center;
}
.cartContent{
    overflow: scroll;
    font-family: arial;
    margin-bottom: 10px;
}
#cart{
    display: none;
}

.cartDetail{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    border-bottom:1px grey dashed;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.cartDetail img{
    width: 100px;
    display: block;
    margin: 0 auto;
    
}
.numTag{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    width: 60px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
}
.cart_plus, .cart_minus{
    border:1px white solid;
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height: 16px;
    padding-bottom: 5px;
    
}
.cart_plus:hover, .cart_minus:hover{
    border:grey 1px solid;
    color: grey;
    background-color: #fff;
}
.itemPrice{
    line-height: 70px;
}
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    background-color: rgba(22,22,22,0.7);
    z-index: 200;
    display: none;
}
.addToCart:hover{
    background-color: #fff;
    border:2px solid #f06131;
    color: #f06131;
    line-height: 16px;
    cursor: pointer;
    
}
.productDes{
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 14px;
    height: 30px;
}

.checkout{
    position: absolute;
    left: 10vw;;
    bottom: 45px;
    width: 110px;
    height: 40px;
    font-size: 20px;
    border-radius: 6px;
    background-color: #f06131;
    border: none;
    color:white;
    text-align: center;
}
.checkout:hover{
    cursor: pointer;
}
.subtotal>div{
    
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.total{
    font-size: 22px;
}
.item{
  padding: 0 2vw;
}

.special h2{
    margin-left: 2vw;
    margin-top: 30px;
}
.close:hover, .cart_plus:hover, .cart_minus:hover, .cart_delete:hover{
    cursor: pointer;
}
.minus:hover, .plus:hover{
    border: 1px grey solid;
    color: grey;
    box-sizing: border-box;
    background-color: #fff;    

}
.productName{
    font-size: 17px;
    letter-spacing: 0.1px;
}
.alignRight{
    text-align: right;
    padding-right: 40%;
}

.cart_delete{
    height: 18px;
    line-height: 18px;
    background-color: lightgrey;
    padding: 0 5px;
    border-radius: 4px;
    border:none;
}
.cart_delete:hover{
    background-color: orange;
}











@media only screen and (max-width:860px){
    h2{
        font-size: 20px;
    }
    
    .service{
        display: none;
        border:1px grey solid;
        border-bottom: 5px solid grey;
        transform: translate(0,-20px);
        z-index: 200;
    }
    .category{
        display: none;
    }
    .header{
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
    header{
        position: relative;
    }
    .searchDiv{
        box-sizing: border-box;
        position: relative;
        width: 100%;
        padding-left: 3vw;
    }
    header input{
        width: 92vw;
        margin: 0 auto;
        height: 2.4rem;
        margin-top: 15px;
    }
    .searchDiv button{
        position: absolute;
        height: 2.4rem;
        margin-top: 15px;
        width: 38px;
        transform: translate(-35px,0);
    }
    .search img{
        width: 55%;
        height: 55%;
    }
    .logo{
        text-align: center;
        font-size: 1.8rem;
        margin-left: 3vw;
    }
    .cart{
     
        height: 0;
        
    }
    .cart img{
        position: absolute;
        right: 20px;
        top: -120px; 
        width: 35px;
    }
    .cart span{
        position: absolute;
        right: 20px;
        top: -126px; 
    }
    .bar{
        display: block;
        position: absolute;
        top: 32px;
        left: 20px;
        width: 25px;
    }
    .bar:hover{
        cursor: pointer;
    }
    .banner{
        height: 250px;
        overflow: hidden;
        background-size: cover;

    }
    .banner img{
        /* height: 100%; */
        width: 100%;
        
    }
    .service div{
        display: block;
        background-color: #fff;
       
        
    }
    .productTitle{
        font-size: 16px;
    }
    .supermarket ul{
        width: 100vw;
        left: 0px;
    }
}




@media only screen and (max-width:650px){
    .banner{
        height: 200px;
        overflow: hidden;
        background-size: cover;

    }

    .cartPage{
        position: fixed;
        width: 100%;
        height: 90%;
        top: 5%;
        left: 0;
        background-color: #fff;
        border-radius: 3%;
        border:2px grey solid;
        overflow: hidden;
        z-index: 2020;
    }
    .itemName{
        font-size: 14px;
    }
    
}





